[package]
name = "AgentCoin"
edition = "2024.beta"

[dependencies]
Sui = { git = "https://github.com/MystenLabs/sui.git", subdir = "crates/sui-framework/packages/sui-framework", rev = "95cddc3f544106f305658428d2edf337b9b9e31e" }

[addresses]
agent_coin = "0x0"
